.myPage {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 740px;
  height: auto;
  max-width: 95%;
  min-height: 480px;
  padding: 30px;
  color: #000;
}

.myPage h3 {
  height: 20px;
}

.userContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.box {
  display: flex;
  align-items: center;
}

.follow {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.userBox {
  display: flex;
  gap: 20px;
}

.userImg {
  width: 240px;
  height: 240px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.userImg button {
  border: none;
  border-radius: 10px;
  background-color: #b4b4b4;
}

.userInfo {
  margin: 20px 0 0 30px;
}

.userInfo p {
  font-size: 30px;
  margin-bottom: 10px;
}

.userInfo input {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-color: #b4b4b4;
  padding-left: 10px;
  border: none;
}

.idBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.setting {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.recordIcon {
  color: #00ff38;
}
