.feed {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100vw;
  width: 100vw;
  display: flex;
  background: "#ffffff";
}
.left {
  width: 20vw;
  height: 100vh;
  padding: 10px;
  background: transparent;
  width: 20vw;
  height: 100vh;
  padding: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}
.leftUsers {
  flex: 1;
}
.leftFooter {
  margin-bottom: 10px;
}
.recordIcon {
  color: #00ff38;
}
.right {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent;
  justify-content: space-between;
  box-shadow: -4px 0px 4px 0px rgb(0, 0, 0, 0.1);
}
.rightHeader {
  height: 140px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border-bottom: 1px solid #e5e5e5;
  font-size: 24px;
}
.rightContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.friendsInfo {
  flex: 1;
}
.friendsData {
}
