.nav {
  display: flex;
  width: 280px;
  justify-content: space-around;
  margin-bottom: 30px;
}

button {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
